[Desktop Entry]
Version=1.0
Type=Application
Name=MapFlow
GenericName=Projection Mapping Software
Comment=Professional projection mapping software
Exec=mapflow
Icon=mapflow
Terminal=false
Categories=Graphics;2DGraphics;Video;
MimeType=application/x-mapflow;
